@mixin shrinkLabel {
  top: -20px;
  font-size: 14px;
}

.search-box-container {
  grid-row-start: 1;
  grid-column-start: 2;
  position: relative;
  right: 10;

  .search-input {
    background: none;
    font-size: 1.5em;
    padding: 10px 10px 10px 50px;
    display: block;
    border: none;

    border-bottom: 1px solid#FFFFFF;
    margin: 1px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .search-label {
      @include shrinkLabel();
    }
  }

  .search-label {
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

@media only screen and (max-width: 758px) {
  .search-box-container {
    grid-row-start: 1;
    grid-column-start: 1;
  }
}